# Created by https://www.toptal.com/developers/gitignore/api/jupyternotebooks
# Edit at https://www.toptal.com/developers/gitignore?templates=jupyternotebooks

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# End of https://www.toptal.com/developers/gitignore/api/jupyternotebooks

# sample
# hangul
hangul/그리고
hangul/뉴스에서
hangul/다른
hangul/미국
hangul/어떤
hangul/오늘
hangul/이렇게
hangul/이번
hangul/코로나
hangul/특히
hangul/하지만
hangul/한국
hangul/한국어
hangul/함께
hangul/확진자
# Lipreading_using_Temporal_Convolutional_Networks-master/landmarks
# Lipreading_using_Temporal_Convolutional_Networks/datasets
